/* Loader #1 by Sam Lillicrap
   http://www.samueljwebdesign.co.uk
   http://codepen.io/samueljweb/pen/LbGxi 
*/
h1.loading, img.loading-landing {
    font-family: 'Hind', sans-serif;
    font-weight: bold;
    color: #0F4688;
    text-transform: uppercase;
    font-size: 1.3em;
    letter-spacing: 1.5px;
    text-align: center;
    width: 110px;
    margin-top: 20px;

    -webkit-animation: fade 2s infinite;
    -moz-animation: fade 2s infinite;

}

.loading-landing {
    margin-left: 16%;
  color: #0F4688;
}
    
#container {
    width: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16%;
    margin-left: -17%;
}



@-webkit-keyframes fade {
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade {
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fade {
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
    @keyframes fade {
        50% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
        }
    }
}