input.parsley-error, textarea.parsley-error {
    color: #B94A48 !important;
    background-color: #F2DEDE !important;
    border:none;
}

parsley-errors-list filled, ul {
    list-style-position: inside;
    margin-bottom: -3px;
    padding:0;
}